<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>/main.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AdminRegServ</servlet-name>
        <servlet-class>controllers.AdminRegServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Harshit</servlet-name>
        <jsp-file>/Inbook.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
       <servlet-name>Harshit</servlet-name>
       <url-pattern>/Inboo</url-pattern>
   </servlet-mapping>
    <servlet>
        <servlet-name>FacRegServ</servlet-name>
        <servlet-class>controllers.FacRegServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotServ</servlet-name>
        <servlet-class>controllers.ForgotServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StdRegServ</servlet-name>
        <servlet-class>controllers.StdRegServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserTypeValidation</servlet-name>
        <servlet-class>controllers.UserTypeValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDetails</servlet-name>
        <servlet-class>controllers.BookDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminRegServ</servlet-name>
        <url-pattern>/AdminRegServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacRegServ</servlet-name>
        <url-pattern>/FacRegServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotServ</servlet-name>
        <url-pattern>/ForgotServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StdRegServ</servlet-name>
        <url-pattern>/StdRegServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserTypeValidation</servlet-name>
        <url-pattern>/UserTypeValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDetails</servlet-name>
        <url-pattern>/BookDetails</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/Error.jsp</location>
    </error-page>
        
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
